

// Global default params, used in configs
params {

  // Workflow flags
  max_cpus = 32
  outdir = './results'
  name = false
  data_columns = false
  phospho_events = false
  resource_directory=false
  compendia = '/Human_PhosphoProteome_mapped_annotated_02_26_20.csv'
  reference_fasta = '/Raw/humanProteome/humanProteome_2020-02-26.fasta'
  network_y = '/NETWORKS/NetworKIN/Y/NetworKIN_Y_compendia_2000_limit_10.p'
  network_st = '/NETWORKS/NetworKIN/network_ST.p'

  threshold = 1.0
  activity_aggregate = 'count'

  
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'kstar-nextflow:latest'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

manifest {
  name = 'KSTAR'
  author = 'Benjamin Jordan'
  homePage = 'https://github.com/NaegleLab/KSTAR'
  description = 'KSTAR'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.0dev'
}
profiles {
  test { includeConfig 'config/test.config' }
}
