# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
numpy==1.26
pandas==2.1
scipy==1.11
matplotlib==3.8
seaborn==0.13
statsmodels==0.13
biopython==1.81
