

// Global default params, used in configs
params {

  // Workflow flags
  max_cpus = 32
  outdir = './results'
  name = 'kstar'
  data_columns = false
  phospho_event = false
  resource_directory=false
  compendia = '/Human_PhosphoProteome_mapped_annotated_02_26_20.csv'
  reference_fasta = '/Raw/humanProteome/humanProteome_2020-02-26.fasta'

  network_directory = '/NETWORKS/NetworKIN'

  number_of_sig_trials=false

  threshold = 1.0
  activity_aggregate = 'count'
  greater = 'yes'
  fpr_alpha=0.05
  chunk_size = 10

  add_data_before=false
    
  // Boilerplate options
  help = false
}


// Set the number of cpus per process 
process {
    withLabel: all_experiments {
        cpus = 8
    }
    withLabel: single_experiment {
        cpus = 4
    }
    
    // big memory processes : hypergeometric_activity, generate_random_experiments, random_hypergeometric_activity, mann_whitney
    withLabel: big_memory {
      memory = memory = 16.GB
    }
}

// Include profile of experiments for custom parameters
profiles {
  test { includeConfig 'config/test.config' }
  Y { includeConfig 'config/tyrosine.config' }
  ST { includeConfig 'config/serine-threonine.config'}
  docker { includeConfig 'config/docker.config'}
  singularity {includeConfig 'config/singularity.config'}
}

// Ensure that docker is enab
docker.enabled = true
process.container = 'kstar-nextflow:latest'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/${params.name}/${params.phospho_event}/pipeline_info/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/${params.name}/${params.phospho_event}/pipeline_info/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/${params.name}/${params.phospho_event}/pipeline_info/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/${params.name}/${params.phospho_event}/pipeline_info/pipeline_dag.svg"
}

manifest {
  name = 'KSTAR'
  author = 'Benjamin Jordan'
  homePage = 'https://github.com/NaegleLab/KSTAR'
  description = 'KSTAR'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.0dev'
}

