#individual files to ignore
kstar/directories.txt
kstar/configuration.json
kstar/analysis/*
kstar/README.md
kstar/kstar_runner.py
kstar/calculate_v1.py
kstar/defaults.txt
kstar/pregenerate.py
kstar/prune.py
kstar/summarize.py

#directories to ignore
kstar/analysis/
kstar/log/
kstar/kstar.egg-info/
kstar/__pycache__/


#other files
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
tests/
docs/

