params {
  // experiment_file='/Users/bj8th/Documents/GitHub/KSTAR/analysis/BCR-ABL/POST-MAPPED/BCR-ABL_mapped.tsv'
  // experiment_file='/Users/bj8th/Documents/GitHub/KSTAR/kstar/nextflow/binary_exp.tsv'

  experiment_file='test_data/BCR-ABL_mapped.tsv'
  phospho_event='Y'
  name='bcr-abl'

  data_columns = ['EOE', 'PRE', 'HDP3','HDP6']
  add_data_before = true
  num_random_experiments=15

  resource_directory='/Users/bj8th/Documents/GitHub/KSTAR/RESOURCE_FILES'
  network_directory = '/NETWORKS/NetworKIN'

  threshold = 0.5
  activity_aggregate = 'mean'

  fpr_alpha=0.05

  number_of_sig_trials=100


}


process {
    // all_experiments : parallel processes where all data_columns are used. 
    // hypergeometric_activity
    withLabel: all_experiments {
        cpus = 8
    }
    // single_experiment : parallel processes where data column data is split 
    // random_hypergeometric_activity, mann-whitney
    withLabel: single_experiment {
        cpus = 4
    }
    // big memory processes : hypergeometric_activity, generate_random_experiments, random_hypergeometric_activity, mann_whitney
    withLabel: big_memory {
      memory = memory = 16.GB
    }
}
