params {
  // experiment_file='/Users/bj8th/Documents/GitHub/KSTAR/analysis/BCR-ABL/POST-MAPPED/BCR-ABL_mapped.tsv'
  // experiment_file='/Users/bj8th/Documents/GitHub/KSTAR/kstar/nextflow/binary_exp.tsv'

  experiment_file='test_data/BCR-ABL_mapped.tsv'
  phospho_event='Y'
  name='bcr-abl'

  data_columns = ['EOE', 'PRE', 'HDP3','HDP6']

  num_random_experiments=150

  resource_directory='/Users/bj8th/Documents/GitHub/KSTAR/RESOURCE_FILES'
  network_directory = '/NETWORKS/NetworKIN'

  threshold = 0.5
  activity_aggregate = 'mean'

  fpr_alpha=0.05


  run_normalization=true
  run_mann_whitney=true
  number_of_sig_trials=100


}

