params {
  // experiment_file='/Users/bj8th/Documents/GitHub/KSTAR/analysis/BCR-ABL/POST-MAPPED/BCR-ABL_mapped.tsv'
  // experiment_file='/Users/bj8th/Documents/GitHub/KSTAR/kstar/nextflow/binary_exp.tsv'

  experiment_file='test_data/pdx_mapped.tsv'
  phospho_event='ST'
  name='pdx'

  data_columns = ['WHIM2.PDXBC01','WHIM8.PDXBC01']
  add_data_before = false
  num_random_experiments=150

  resource_directory='/Users/bj8th/Documents/GitHub/KSTAR/RESOURCE_FILES'
  network_directory = '/NETWORKS/NetworKIN'

  threshold = 0.0
  activity_aggregate = 'mean'

  fpr_alpha=0.05


  number_of_sig_trials=100
  chunk_size = 5            // chunk_size is used in hypergeometric - used for decreasing memory. so for 5 for ST, 10+ for Y works using 16 GB. This can be adjusted as memory available increases


}


process {
    // all_experiments : parallel processes where all data_columns are used. 
    // hypergeometric_activity
    withLabel: all_experiments {
        cpus = 8
    }
    // single_experiment : parallel processes where data column data is split 
    // random_hypergeometric_activity, mann-whitney
    withLabel: single_experiment {
        cpus = 4
    }
    // big memory processes : hypergeometric_activity, generate_random_experiments, random_hypergeometric_activity, mann_whitney
    withLabel: big_memory {
      memory = memory = 16.GB
    }
}

