params {
  // experiment_file='/Users/bj8th/Documents/GitHub/KSTAR/analysis/BCR-ABL/POST-MAPPED/BCR-ABL_mapped.tsv'
  // experiment_file='/Users/bj8th/Documents/GitHub/KSTAR/kstar/nextflow/binary_exp.tsv'

  experiment_file='test_data/BCR-ABL_mapped.tsv'
  phospho_event='Y'
  name='test'

  data_columns = ['EOE', 'PRE']

  num_random_experiments=10

  resource_directory='/Users/bj8th/Documents/GitHub/KSTAR/RESOURCE_FILES'

  threshold = 0.5
  activity_aggregate = 'mean'

  fpr_alpha=0.05

  number_of_networks = 50

  run_normalization=true
  run_mann_whitney=true
  number_of_sig_trials=5


}

