


process {
    // all_experiments : parallel processes where all data_columns are used. 
    // hypergeometric_activity
    withLabel: all_experiments {
        cpus = 8
    }
    // single_experiment : parallel processes where data column data is split 
    // random_hypergeometric_activity, mann-whitney
    withLabel: single_experiment {
        cpus = 4
    }
    // big memory processes : hypergeometric_activity, generate_random_experiments, random_hypergeometric_activity, mann_whitney
    withLabel: big_memory {
      memory = memory = 8.GB
    }
}
